<div class="container">
  <h2 class="titulo-pagina">CADASTRO DE BENEFICIÁRIO</h2>
  <span class="descricao-pagina">Preencha as informações abaixo para realizar o cadastro.</span>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input type="nome" matInput placeholder="Ex. pat@example.com" [formControl]="nome" required>
      <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>

</div>
