.button-new {
  background-color: mediumseagreen;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.card-list {
  display: inline-table;
  min-width: 150px;
  max-width: 250px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

li {
  background: lighten(#9DBDDE, 23);
  border: 1px solid #58585A;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
  transition: ease 0.2s all;
  -webkit-transition: ease 0.2s all;
  -moz-transition: ease 0.2s all;
  -ms-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
}

p {
  font-weight: bold;
  color: #58585A;
  font-size: 14px;
  margin: 0 0 6px;
}
