<main>
  <div>
    <mat-toolbar>
      <span>Processo Virtual</span>

      <section>
        <div class="toolbar-space-label"></div>
        <div class="toolbar-button-row">
          <button (click)="beneficiarioPage()" mat-raised-button class="toolbar-button">Beneficiário</button>
          <button (click)="processoPage()" mat-raised-button class="toolbar-button">Processo</button>
        </div>
      </section>
    </mat-toolbar>
  </div>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</main>

