<div class="container">
  <h2 class="titulo-pagina">DOCUMENTOS</h2>
  <section>
    <div class="toolbar-space-label"></div>
    <div class="toolbar-button-row">
      <button (click)="voltar()" mat-raised-button class="button-back">Voltar</button>
      <button mat-raised-button class="button-new">Adicionar</button>
    </div>
  </section>

  <mat-tab-group dynamicHeight>
    <div class="card-list" *ngIf="listaidentificacao.length">
      <mat-tab label="IDENTIFICAÇÃO">
        <div *ngFor="let i of listaidentificacao">
          <div class="example-small-box mat-elevation-z4">
            <ul>
              <li>
                <p>{{i.nomeArquivo}}.{{i.extensaoArquivo}}</p>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </div>
    <div *ngIf="listaRemuneracaoProventos.length">
      <mat-tab label="REMUNERAÇÃO / PROVENTOS">
        <div *ngFor="let i of listaRemuneracaoProventos">
          <div class="example-small-box mat-elevation-z4">
            <ul>
              <li>
                <p>{{i.nomeArquivo}}.{{i.extensaoArquivo}}</p>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </div>
    <div *ngIf="listaVidaFuncional.length">
      <mat-tab label="VIDA FUNCIONAL">
        <div *ngFor="let i of listaVidaFuncional">
          <div class="example-small-box mat-elevation-z4">
            <ul>
              <li>
                <p>{{i.nomeArquivo}}.{{i.extensaoArquivo}}</p>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </div>
    <div *ngIf="listaContagemTempo.length">
      <mat-tab label="CONTAGEM DE TEMPO">
        <div *ngFor="let i of listaContagemTempo">
          <div class="example-small-box mat-elevation-z4">
            <ul>
              <li>
                <p>{{i.nomeArquivo}}.{{i.extensaoArquivo}}</p>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>

  <div *ngIf="nenhumDocumento">
    <div class="sem-mensagens"><i class="icon-exclamation"></i> Não há documentos!</div>
  </div>
</div>
